@import "vars"


/*==========  Desktop First  ==========*/

// ≥1200px
+media-breakpoint-down(lg)
	.top-line .oil
		display: none
	.top-line .top-menu
		margin-left: 0
		ul li
			font-size: 16px
	.animation-popup-order
		width: 400px
		margin-top: -117.5px
		img:last-child
			margin-top: -10px


// ≥992px
+media-breakpoint-down(md)
	.top-line .top-menu
		display: none
	.toggle-mobile-menu
		display: block
	.main-header .departments-menu
		width: 100%
		padding-bottom: 15px
		height: auto
		ul li
			display: block
			float: none
			border: none
			text-align: center
			margin-bottom: 5px
	.footer-catalog ul li
		padding: 0
// ≥768px
+media-breakpoint-down(sm)
	.flex-header_phone
    display: flex
    flex-direction: column-reverse
	.main-header .header_phone p
		font-size: 12px
		margin-bottom: 30px
	.main-header .open-popup-order
		max-width: 200px
		text-align: center
		font-size: 16px
		margin: 0 auto
	.footer-catalog ul
		flex-direction: column
	.main-footer .footer-menu, #popup-order .what-ts, .hidden-sm
		display: none
	.main-footer .footer-contact
		text-align: left
	.main-footer .row
		flex-wrap: wrap-reverse
	.animation-popup-order
		width: 200px
		margin-top: -59.5px
		img:last-child
			margin-top: -3px
	table
		display: block
		max-width: 100%
		overflow-x: auto
	.models__footer .btn,
	.other-model .btn
    font-size: 18px
	.delivery-promo__footer span
		width: 100%
		font-size: 1
	.delivery-promo__footer span
		font-size: 1.2em
	.delivery-promo__footer i
		font-size: 1.4em
// ≥576px
+media-breakpoint-down(xs)
	.departments-menu, .owl-carousel.owl-home, .hidden-xs
		display: none
	.main-header .slogan
		margin: 0
		font-size: 12px
		line-height: 13px
		text-align: right
	#cart .dropdown-menu
		min-width: 100vw
		right: -15px
	.main-popup
		padding: 15px
		h3
			font-size: 1.2em
			padding: 0
	.popup-auto__model,
	.popup-auto__text
		font-size: 1.1em
	.popup-auto__phone,
	.popup-auto__call
		font-size: 1.4em
	.assort__link
		margin: 0 0 35px
	.delivery-promo__header h3,
	.delivery-promo__header h4,
	.promo-stage-list__item p
		font-size: 1.2em
	.green-call-block__header h5
		font-size: 2em
	.green-call-block__header h6,
	.green-call-block__content span
		font-size: 1.4em
	.green-call-block__content a
		width: 100%
		font-size: 1em
/*==========  Mobile First  ==========*/

// ≤576px
+media-breakpoint-up(sm)

// ≤768px
+media-breakpoint-up(md)

// ≤992px
+media-breakpoint-up(lg)
	.mobile-menu
		display: none !important
// ≤1200px
+media-breakpoint-up(xl)
