@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,700&subset=cyrillic')
@import "vars"
@import "fonts"
@import "libs"


::placeholder
	color: #666

::selection
	background-color: $accent
	color: #fff

body
	font-size: 18px
	min-width: 320px
	position: relative
	line-height: 1.65
	font-family: $default-font
	overflow-x: hidden
	color: $text
	input, textarea
		border: #666 1px solid
		outline: none
		&:focus:required:invalid
			border-color: red
		&:required:valid
			border-color: green
.img-responsive
	display: block
	max-width: 100%
	height: auto
	&.img-width
		width: 100%

.text-center
	text-align: center

b, strong
	font-weight: bold

/* links */
a:link, a:visited
	color: $accent
	outline: none
	text-decoration: none
a:hover
	color: $accent

// Top-line
.top-line
	background-color: #2d3032
	height: 48px
	a
		color: #fff
	.oil, .top-menu
		float: left
	.basket, .envelope, #cart
		float: right
	.oil
		background: url(../img/car-oil.png) left center no-repeat
		background-size: 40px
		padding: 9px 0 9px 45px
		height: 48px
		a
			font-size: 14px
			font-weight: bold
			color: #fff
			text-decoration: none
			border-bottom: 1px dashed
			&:hover
				border-color: #fcb50d
	.top-menu
		margin: 15px 0 0 10px
		ul
			margin: 0
			padding: 0
			list-style: none
			li
				display: block
				float: left
				border-left: 1px solid #fff
				position: relative
				padding: 4px 9px 0
				height: 17px
				line-height: 10px
				font-size: 18px
				position: relative
				&.item-has-children:hover > .sub-menu
					display: block
				a:hover
					text-decoration: underline
				&:first-child
					border-left: 0
				.sub-menu
					display: none
					position: absolute
					z-index: 999
					background: #2D3032
					left: 0
					padding: 15px 22px 10px
					margin: 5px 0 0
					li
						display: block
						border: none
						margin: 0 0 5px
						padding: 0
						line-height: 1.2
						height: auto
						float: none
						text-align: left
						font-size: 1em
	.envelope
		display: block
		width: 28px
		height: 20px
		background: url(../img/sprite_icon.png) 0 0 no-repeat
		margin: 15px 19px 0 3px
		&:hover
			opacity: 0.7
	#cart
		display: block
		width: 130px
		height: 48px
		margin-bottom: 0
		& > .btn
			padding: 0
			height: 100%
			background: #424547
			border: 0
			border-radius: 0
			box-shadow: none
			&:hover
				background-color: $accent
		&.open > .btn
			background-color: $accent
			color: #fff
// END Top-line
// HEADER
.main-header
	padding-top: 17px
	padding-bottom: 15px
	.logo
		display: inline-block
		img
			max-width: 100%
	.slogan
		margin-top: 13px
		font-size: 16px
		line-height: 17px
		font-weight: 700
		color: #444849
	.open-popup-order
		float: left
		margin-top: 13px
		font-size: 16px
	.header_phone
		float: right
		text-align: right
		margin-top: 3px
		p
			margin-bottom: 0
			a
				color: $text
				font-size: 24px
				line-height: 26px
	.departments-menu
		margin-top: 35px
		width: 724px
		float: right
		height: 48px
		background-color: $accent
		padding-top: 15px
		ul
			margin: 0
			padding: 0
			list-style: none
			li
				display: block
				float: left
				color: #fff
				text-transform: uppercase
				border-left: 1px solid #fff
				padding: 4px 12px 0 12px
				height: 17px
				line-height: 10px
				font-size: 18px
				&:first-child, &:nth-child(2)
					border-left: none
				a
					font-weight: 700
					color: #fff
					&:hover
						text-decoration: underline
// END HEADER
// Brand
.brands
	margin: 0
	padding: 0
	list-style: none
	text-align: center
	li
		width: 65px
		padding: 3px
		display: inline-block
		img
			max-width: 100%
// END Brand
// Store addresses
.store-addresses
	padding-top: 15px
	a.store-addresses-block
		display: block
		max-width: 360px
		margin: 0 auto 15px
		transition: $trans
		&:hover
			box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.2)
		&:hover h3 span, &:hover h3 i.big-map-marker
			opacity: 0
		&.store-addresses-block-01:hover h3
			background-image: url(../img/home-shop-block-01.png)
		&.store-addresses-block-02:hover h3
			background-image: url(../img/home-shop-block-02.png)
		&.store-addresses-block-03:hover h3
			background-image: url(../img/home-shop-block-03.png)
		h3
			min-height: 130px
			display: flex
			justify-content: center
			background-color: #f1f1f1
			margin-bottom: 0
			background-repeat: no-repeat
			background-position: center
			align-items: center
			i.big-map-marker
				display: block
				background: url(../img/big-map-marker.png) 0 0 no-repeat
				width: 33px
				margin-right: 12px
				height: 44px
				transition: $trans
			span
				font-size: 28px
				color: $text
				font-weight: normal
				line-height: 1.1
				transition: $trans
	p
		color: #fff
		background-color: $accent
		padding: 12px 45px 13px 15px
		font-weight: bold
		font-size: 16px
		margin-bottom: 0
		position: relative
		&::after
			content: ''
			display: block
			position: absolute
			background: url(../img/sprite_icon.png) 0 -113px no-repeat
			width: 22px
			height: 25px
			right: 19px
			top: 50%
			margin-top: -12.5px
// END Store addresses
// Owl.Carousel HOME
.owl-home
	position: relative
	.item a
		display: block
		img
			width: 100%
	.owl-nav
		margin: 0
		button
			width: 48px
			height: 42px
			color: #FFF
			display: block
			position: absolute
			font-size: 12px
			opacity: 0.999
			top: 50%
			&:hover
				opacity: 0.6
			&.owl-prev, &.owl-next
				padding: 3px 10px
				background-image: url(../img/slider-but.png)
				background-repeat: no-repeat
			&.owl-prev
				left: 35px
			&.owl-next
				background-position: right 0
				right: 35px
			span
				display: none
	.owl-dots
		position: absolute
		bottom: 29px
		text-align: center
		width: 100%
		.owl-dot
			display: inline-block
			width: 16px
			height: 16px
			margin: 5px 7px
			filter: Alpha(Opacity=99)
			opacity: 0.99
			border-radius: 8px
			border: 2px solid #FFF
			box-shadow: 3px 3px 1px rgba(0,0,0,0.5)
			&.active
				background-color: #FFF
// END Owl.Carousel HOME
// ABOUT
.about
	background: #f0f0f1
	padding: 50px 0 40px
	h1
		margin-bottom: 18px
	p
		font-size: 18px
		margin-bottom: 10px
		line-height: 1.42857143
	a:hover
		text-decoration: underline
// END ABOUT
// ADVANTAGES
.advantages
	background-color: $accent
	padding: 50px 0 50px 0
	margin-bottom: 50px
	a, h2, h3, p
		color: #fff
	a
		text-decoration: underline
		&:hover
			text-decoration: none
	.section-title
		margin-bottom: 10px
	.advantages-block
		max-width: 270px
		margin: 0 auto
		text-align: center
		padding-top: 20px
		h3
			text-transform: uppercase
			font-size: 18px
			margin: 10px 0
			line-height: 22px
			padding: 0 43px
			font-weight: bold
		p
			line-height: 18px
			font-size: 18px
// END ADVANTAGES
// Partners
.wrap-partners
	padding-bottom: 50px
.partners
	text-align: center
	img
		margin: 0 8px 5px
// END Partners
// FOOTER CATALOG
.footer-catalog
	background-color: #eaeaea
	padding: 48px 0 63px
	.section-title
		font-size: 36px
	ul
		display: flex
		margin: 44px 0 10px
		list-style: none
		flex-wrap: wrap
		li
			display: block
			margin-bottom: 30px
			padding: 0 100px
			flex-basis: 50%
			a
				position: relative
				display: block
				color: #000
				font-size: 25px
				padding-left: 65px
				&:hover
					text-decoration: underline
				&::before
					content: ''
					background-image: url(../img/footer-catalog-sprite.png)
					display: inline-block
					margin-right: 5px
					position: absolute
					left: 0
			&:nth-child(1) a::before
				background-position: 0px -43px
				width: 36px
				height: 43px
			&:nth-child(2) a::before
				background-position: -41px -42px
				width: 20px
				height: 41px
				left: 8px
			&:nth-child(3) a::before
				background-position: -41px 0px
				width: 36px
				height: 41px
			&:nth-child(4) a::before
				background-position: 0px -87px
				width: 38px
				height: 29px
			&:nth-child(5) a::before
				background-position: -120px 0px
				width: 18px
				height: 44px
				left: 9px
			&:nth-child(6) a::before
				background-position: -78px -36px
				width: 38px
				height: 35px
			&:nth-child(7) a::before
				background-position: 0px 0px
				width: 40px
				height: 42px
			&:nth-child(8) a::before
				background-position: -78px 0px
				width: 41px
				height: 35px
// END FOOTER CATALOG
// FOOTER
.main-footer
	background-color: #2d3032
	padding: 20px 0
	margin-top: 0
	border: none
	a
		text-decoration: underline
		&:hover
			text-decoration: none
	.footer-menu
		margin-bottom: 20px
		padding: 0
		list-style: none
		li
			display: inline
			margin-right: 4px
			a
				color: #fff
				font-size: 15px
				&:hover
					text-decoration: none
	p
		color: $accent
		font-size: 15px
		line-height: 1.42857143
	.footer-contact
		text-align: right
		margin: 0
		padding: 0
		list-style: none
		li
			color: $accent
			margin-bottom: 8px
			font-size: 15px
			a
				color: #fff
				text-decoration: none
				&:hover
					text-decoration: underline
// END FOOTER
// Mobile menu
.mobile-menu
	min-width: 100%
	display: none
	background-color: #2D3032
	margin-bottom: 30px
	ul
		margin: 0
		padding: 0
		list-style: none
		li a
			height: 40px
			display: block
			border-bottom: 1px solid #3e3e3e
			padding: 7px 0 0 15px
			text-decoration: none
			color: #fff
			font-size: 18px
			&.gray
				background-color: #424547
			&:hover
				background-color: $accent
// END Mobile menu
// POP-UP
.main-popup
	padding: 54px 35px 53px
	background-color: #ececec
	max-width: 500px
	display: none
	width: 100%
	h3
		font-size: 26px
		margin-bottom: 12px
		font-weight: normal
		text-transform: uppercase
		padding-bottom: 10px
	input[type="file"]
		border: none
	input[type="text"], input[type="tel"], input[type="number"], input[type="email"], textarea, select
		border: 1px solid #929292
		background-color: #d0d0d0
		font-size: 14px
		color: #555
		padding: 0 14px
		margin-bottom: 13px
		width: 100%
		height: 34px
		border-radius: 6px
		line-height: 1.2
	textarea
		min-height: 80px
		max-height: 80px
		min-width: 100%
		max-width: 100%
		padding-top: 12px
	.btn-submit
		display: inline-block
		color: #fff
		border: 1px solid #929292
		background-color: #f3655b
		padding: 0 21px
		height: 38px
		border-radius: 6px
		&:hover
			color: #f3655b
			border: 3px solid #f3655b
			background-color: #ececec
	p
		margin: 15px 0 25px
		font-size: 17px
		line-height: 1.2
		color: #000
	.fz
		font-size: 12px
		text-align: center
		color: #606060
		margin-bottom: 0
#popup-order
	overflow: initial
	max-width: 571px
	.btn-image
		margin-bottom: 25px
	.what-ts
		float: right
		margin-top: 6px
		font-size: 14px
		&::before
			content: ''
			display: block
			width: 100%
			height: 100%
			background-color: #ECECEC
			position: absolute
			left: 0
			top: 0
			z-index: -1
		a:hover ~ img
			display: block
			margin-left: 0
			opacity: 1
		img
			position: absolute
			z-index: 900
			left: 100%
			top: 50%
			margin-top: -182.5px
			border-top-right-radius: 15px
			border-bottom-right-radius: 15px
			margin-left: -262px
			z-index: -2
			transition: $trans
// END POP-UP
// Animation popup order
.animation-popup-order
	position: fixed
	z-index: 99999
	top: 50%
	margin-top: -169px
	left: -100%
	width: 600px
	transition: 2.5s left linear
	&.animation-left
		left: 100%
	img
		width: 100%
		height: auto
		&:fist-child
			animation: rotate .5s infinite ease-in-out
		&:last-child
			margin-top: -30px
			transform: rotate(-1.5deg)
@keyframes rotate
	from
		transform: translateY(0) rotate(0deg)
	25%
		transform: translateY(10px) rotate(-.5deg)
	50%
		transform: translateY(10px) rotate(.5deg)
	to
		transform: translateY(0) rotate(0deg)
// END Animation popup order

// WARRANTY TABLE
table.warranty-table
	width: 100%
	&, td, th
		border: 1px solid #aaa
		vertical-align: top
		font-size: 14px
		padding: 10px 10px 10px 10px
		text-align: left
	th
		background-color: #EAEAEA
		font-weight: bold
	img
		width: 90%
		float: left
		margin: 0 auto 0
	td p
		font-size: 14px
// END WARRANTY TABLE

// NEWS
.news-list-item
	margin-bottom: 30px
	.date
		font-size: 0.875em
		margin: 0
// END NEWS

/*NEW SHOP LOCATION*/
h1.shop-page-title
	font-size: 28px
	text-transform: none
	display: inline-block
	border-top: 7px solid #45a047
	border-bottom: 7px solid #45a047
	padding: 23px 16px 28px 8px
	color: #000
	margin-top: 12px
	margin-bottom: 53px
	&::before 
		content: ''
		display: inline-block
		background: url(../img/map-marker.png) 0 0 no-repeat
		width: 21px
		height: 28px
		vertical-align: bottom
		margin-right: 11px
.shop-block 
	transition: all .3s ease
	max-width: 360px
	margin-bottom: 30px
	margin-left: auto
	margin-right: auto
	position: relative
	&:hover
		box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.2)
	a.link-page
		display: block
		width: 100%
		height: 100%
		position: absolute
	.shop-block-top
		text-align: center
		background-color: #f1f1f1
		padding-top: 54px	
		padding: 54px 12px 38px
		img
			max-width: 243px
			height: auto
			margin-bottom: 15px
		h2
			font-weight: bold
			font-size: 48px
			color: #000
			text-transform: none
			margin-bottom: 15px
		p
			font-size: 18px
	.shop-block-bottom
		background-color: #000
		padding: 22px 20px 26px
		position: relative
		z-index: 100
		&.bg-blue
			background-color: #19539b
		&.bg-yellow
			background-color: #fcb315
		&.bg-red
			background-color: #ad1117
		p, a
			color: #fff
		p.call
			text-transform: uppercase
			font-size: 40px
			margin: 0
			line-height: 1.2
			font-weight: bold
		p.slogan
			font-size: 14px
			margin-bottom: 15px
		p.address
			font-size: 16px
			font-weight: bold
		p.address a
			text-decoration: none
			font-size: 36px
			font-weight: normal
		a.custom-btn
			display: block
			width: 100%
			text-transform: uppercase
			text-align: center
			font-size: 16px
			font-weight: bold
			text-decoration: none
			transition: all .3s ease
			padding-top: 7px
			padding-bottom: 7px
			margin-top: 6px
			&.custom-btn-blue
				background-color: #5484c0
			&.custom-btn-yellow
				background-color: #d29614
			&.custom-btn-red
				background-color: #da251c
			&.custom-btn-pink 
				background-color: #ed7373
			&:hover
				opacity: .8
.shop-container
	padding-bottom: 20px
.other-model
	padding-top: 38px
	padding-bottom: 22px
/*END NEW SHOP LOCATION*/

// Category product-thumb
.product-thumb
	position: relative
	border: 1px solid #b0b0b0
	transition: $trans
	&:hover
		box-shadow: 0px 0px 3px 1px rgba(189, 189, 189,1)
	h4
		font-size: 1em
		font-weight: normal
		line-height: 18px
		margin-bottom: 25px
		a
			color: $text
	&__image
		margin: 30px auto
	&__price
		text-align: center
		margin: 0
		span
			font-size: 1.444em
			line-height: 38px
	&__art
		padding: 5px 20px 5px 20px
		line-height: 16px
		font-size: 0.778em
		color: $accent
.product-list .product-thumb__price
	text-align-last: left
// END Category product-thumb

//Category product thumb button
.product-thum__buttons
	display: flex
	button
		height: 40px
		width: 50%
		padding-left: 36px
		background-image: url(../img/sprite_icon.png)
		background-repeat: no-repeat
		background-color: $accent
		border: none
		border-right: 1px solid #367738
		font-size: 0.944em
		color: #fff
		line-height: 1
		&.add-to-cart
			background-position: 7px -183px
		&.fast-buy
			background-position: 7px -530px
		&:last-child
			border: none
		&:hover
			background-color: $text
//END Category product thumb button

// Catalogue category list
.catalogue-cat
	margin: 0
	padding: 0
	list-style: none
	li
		margin-top: 30px
	&__link
		border: 1px solid #b0b0b0
		height: 220px
		display: flex
		flex-direction: column
		justify-content: center
		align-items: center
		font-size: 1.222em
		&:hover
			box-shadow: 0px 0px 3px 1px rgba(189, 189, 189,1)
			transform: scale(1.05, 1.05)
	a.link
		transition: $trans
		color: $text
		&:hover
			color: $accent
		&__img
			margin-bottom: 18px
		&__title
			font-size: 1.222em
// END Catalogue category list

// Page price
.price-table
	margin-bottom: 10px
	&__th, &__td
		border: 1px solid #fff
		background-color: $text
		color: #fff
		font-size: 0.778em
		padding: 3px 10px 2px 10px
	&__td a
		color: #fff
		text-decoration: underline
		&:hover
			text-decoration: none
	&__th
		background-color: $accent
		font-weight: normal
	&__input
		border: none
		width: 100%
		height: 22px
		margin: 4px 0 4px 0
		padding: 0 10px
	&__input,
	&__select
		color: $text
	&__send,
	&__order
		display: inline-block
		border: none
		background-color: $accent
		text-transform: uppercase
		color: #fff !important
		line-height: 1
		font-size: 0.889em
		text-align: center
		&:hover
			background-color: $text
	&__send
		float: right
		padding: 7px 19px
	&__order
		padding: 15px 30px
		margin-bottom: 10px
.price-nav
	margin: 0
	padding: 0
	list-style: none
	&__item
		display: inline-block
		font-size: 0.889em
	&__link
		border-bottom: 1px solid
		&:hover
			border: none
			color: $text
	&__active
		background-color: $text
		color: #fff !important
		border: none
		padding: 0 2px
		&:hover
			background-color: $accent
// End page price

// POP-UP AUTO
.popup-auto
	display: none
	text-align: center
	line-height: 1.42857143
	padding: 36px 35px 5px
	&__model
		text-transform: uppercase
		font-size: 1.333em
	&__phone
		font-size: 2.444em
		margin-bottom: 15px
		a
			color: #fff
	&__call
		font-size: 1.889em
		font-weight: bold
		text-transform: uppercase
		line-height: 1
		span
			font-size: 0.706em
	&__btn
		display: inline-block
		color: #fff !important
		font-size: 1.333em
		line-height: 1
		padding: 7px 43px
		background-color: #fdb316
		margin-bottom: 22px
	&__text
		text-transform: uppercase
		font-size: 1.333em
		margin-bottom: 0
// END POP-UP

// Testimonials
.owl-testimonials
	padding: 20px 40px 0
	.owl-nav
		button.owl-prev,
		button.owl-next
			position: absolute
			display: block
			width: 30px
			height: 30px
			top: 50%
			margin-top: -15px
			background-color: $accent
			color: #fff
			transition: $trans
			opacity: 0.8
			&:hover
				opacity: 1
			span
				line-height: 25px
				font-size: 1.7em
				display: inline-block
		button.owl-prev
			left: 0
		button.owl-next
			right: 0
	.owl-dots
		text-align: center
		.owl-dot
			padding: 10px 0 !important
			span
				display: block
				height: 3px
				width: 25px
				border-radius: 3px
				margin: 0 3px
				background: $accent
				opacity: 0.8
			&.active span
				width: 35px
				opacity: 1
.item-head
	display: flex
	align-items: center
	margin-bottom: 15px
	&__date
		font-size: 0.667em
		color: #a2a2a2
		text-align: right
		margin-bottom: 0
		max-width: 120px
		width: 100%
	&__logo
		height: 50px
		border-radius: 50%
		margin-right: 10px
	&__title
		font-size: 1em
		font-weight: bold
		width: 100%
.owl-carousel .owl-item img.item-head__logo
	width: 50px
// END Testimonials

// Other style
#information-information
	padding-top: 50px
	padding-bottom: 40px
	.section-title
		margin-bottom: 30px
.section-title
	text-align: center
	text-transform: uppercase
	font-weight: 400
	font-size: 32px
a.btn
	display: inline-block
	background-color: $accent
	color: #fff
	text-transform: uppercase
	padding: 10px
	line-height: 1
	transition: $trans
	border: none
	border-radius: 0
	&:hover
		opacity: 0.9
		color: #fff
#top
	background: url(../img/slider-but.png) 0 0 no-repeat
	width: 48px
	height: 42px
	transform: rotate(90deg)
	position: fixed
	bottom: 10px
	right: 10px
	opacity: .8
	cursor: pointer
	z-index: 9999
	display: none
.social-icons
	position: fixed
	z-index: 9999
	left: 1%
	bottom: 4%
	width: 90px
	height: 90px
	&:hover
		height: auto
	&:hover .soc-icon
		position: relative
	&:hover .soc-icon.icon-vk, &:hover .soc-icon.icon-viber
		opacity: 1 !important
		margin-bottom: 7px
	.soc-icon
		width: 90px
		height: 90px
		overflow: hidden
		border-radius: 50%
		display: flex
		justify-content: center
		align-items: center
		position: absolute
		top: 0
		transition: $trans
		&.icon-vk, &.icon-viber
			width: 75px
			height: 75px
			padding: 19px
			margin-left: 7.5px
			margin-top: 0
			opacity: 0
		&.icon-viber
			/*top: 83px;*/
		&.icon-vk
			/*top: 157px;*/
		&.icon-vk
			background-color: #4a76a8
		&.icon-viber
			background-color:  #7b519d
		&.icon-mail
			background-color: #2dd12a
			box-shadow: 0 0 0 rgba(0,161,63, 0.4)
			animation: pulse 2s infinite
			text-decoration: none
		&.icon-mail:hover
			animation: none
		&.icon-mail span
			color: #fff
			line-height: 1
			text-align: center
			opacity: 0
			display: block
			position: absolute
		&.icon-mail img
			animation: hidden 6s infinite
		&.icon-mail span
			animation: hidden-span 6s infinite
		&.icon-mail:hover img
			opacity: 0 !important
		&.icon-mail:hover span
			opacity: 1 !important
@-webkit-keyframes pulse
	0%
		box-shadow: 0 0 0 0 rgba(0,161,63, 0.4)
	70%
		box-shadow: 0 0 0 30px rgba(0,161,63, 0)
	100%
		box-shadow: 0 0 0 0 rgba(0,161,63, 0)
@keyframes hidden
	0%
		opacity: 1
	45%
		opacity: 0
	75%
		opacity: 0
	100%
		opacity: 1
@keyframes hidden-span
	0%
		opacity: 0
	60%
		opacity: 1
	100%
		opacity: 0
.toggle-mobile-menu
	display: none
	width: 30px
	height: 30px
	margin-top: 10px
	float: left
	background: url(../img/sprite_icon.png) 0 -70px no-repeat
.alignright
	text-align: right
.aligncenter
	text-align: center
.btn-primary
	background: $text
	border-color: $text
	&:hover,
	&.focus,
	&:focus
		background: $accent !important
		border-color: $accent
.category-title, .product-title
	font-size: 1.778em
	font-weight: 400
	text-transform: uppercase
.product-title
	margin-bottom: 35px
.btn-link:hover
	background: $text
#cart .dropdown-menu a
	color: $accent
.breadcrumb
	padding: 4px 0
	& > li::after 
		top: 50%
		right: -5px
		width: 10px
		height: 10px
		margin-top: -5px
#cart-total 
	display: flex
	flex-direction: column-reverse
a.thumbnail.active, 
a.thumbnail:focus, 
a.thumbnail:hover
	border-color: $accent
.product-desc	p
	font-size: 0.889em
	line-height: 1.250em
	margin-bottom: 10px
.product-desc__description
	margin-top: 25px
#content
	padding-bottom: 40px
.product-block-buy
	background-color: #e2e1e1
	padding: 20px
	&__price
    display: flex
    justify-content: space-between
    align-items: center
	ul li h2
		font-size: 1.444em
	&__text
		font-size: 0.889em
		line-height: 1.42857143
		a
			width: 100%
			height: 40px
			color: #fff
			text-transform: uppercase
			text-decoration: none
			background-color: $accent
			color: #fff
			display: block
			text-align: center
			padding-top: 8px
			margin-top: 10px
			&:hover
				background-color: $text
.custom-btn-group
	position: absolute
	z-index: 100
	button
		display: flex
		align-items: center
		height: 35px
		border-radius: 0
		border: 1px solid #e0a90b
		background: #fcb315
		color: #fff
		&:last-child
			border-bottom-right-radius: 4px
.custom-button-cart
	width: 100%
	height: 40px
	color: #fff
	text-transform: uppercase
	text-decoration: none
	background-color: #45a047
	color: #fff
	display: block
	text-align: center
	padding-top: 2px
	margin-top: 10px
	border: none
	line-height: 1
	&:hover
		background-color: $text
.pagination > li > a, 
.pagination > li > span
	color: inherit
.pagination > .active > a,
.pagination > .active > a:focus,
.pagination > .active > a:hover,
.pagination > .active > span,
.pagination > .active > span:focus,
.pagination > .active > span:hover
	background-color: $accent
	border-color: $accent
.ajax-filter .af-body .af-container > .af-heading > span
	top: 28px
.ajax-filter .af-body .af-container > .af-heading > .title
	font-size: 16px
.ajax-filter .af-body .af-container > .af-heading
	padding-top: 15px
.ajax-filter .af-body .af-container > .af-elements > .af-wrapper
	padding-top: 0 !important
.models__footer .btn,
.other-model .btn
	font-size: 1.333em
.green-popup
	display: none
	width: 100%
	max-width: 470px
	background-color: $accent
	&, h3, a
		color: #fff
	h3
		text-transform: uppercase
		text-align: center
		font-size: 1.444em
	input,
	select
		height: 46px
		width: 100%
		padding: 0 15px
		margin-top: 10px
		color: $text
		border: none
	.btn-submit
		border: none
		max-width: 300px
		width: 100%
		text-align: center
		padding: 16px
		line-height: 1
		margin-top: 20px
		background-color: #307032
		text-transform: uppercase
		&:hover
			background-color: #fcb315
	.fz
		font-size: 0.667em
		line-height: 1.42857143
		text-align: center
.address-name
	display: inline-block
	font-size: 24px
	font-weight: bold
	text-transform: uppercase
	margin: 10px 0
.address-table
	margin-bottom: 20px
.address-table td
	padding: 3px 15px
	padding-left: 0
	font-size: 1em
	line-height: 1.42857143
.address-table td a
	font-size: 21px
	text-decoration: underline
	&:hover
		text-decoration: none
		color: $text
.section-title + h2
	margin: 20px 0 10px
	font-size: 1.556em
legend
	font-size: 1em
label,
select.form-control,
textarea.form-control,
input[type="text"].form-control,
input[type="password"].form-control,
input[type="datetime"].form-control,
input[type="datetime-local"].form-control,
input[type="date"].form-control,
input[type="month"].form-control,
input[type="time"].form-control,
input[type="week"].form-control,
input[type="number"].form-control,
input[type="email"].form-control,
input[type="url"].form-control,
input[type="search"].form-control,
input[type="tel"].form-control,
input[type="color"].form-control
	font-size: 0.889em
input[type="checkbox"], input[type="radio"]
	margin-top: 7px
.product-in-stock
	max-width: 150px
	line-height: 1 !important
	span
		display: block
		margin-bottom: 5px
		font-size: 0.778em
		&::before
			content: '\2713'
			color: $accent
			margin-right: 2px
// END Other style

@import "second.scss"

@import "media" // Always at the end


