//МИКСИНЫ В ПАПКЕ С МИКСИНАМИ В ФАЙЛЕ FONT-FACE.SASS

.container-fluid {
	max-width: 1170px;
}


// ---- header-content ----
	.header-content {
		background-color: #eaeaea;
		position: relative;
		z-index: 980;
		&:after {
			display: block;
			content: "";
			width: calc(50vw - 558px);
			height: 100%;
			z-index: -1;
		}
		&:after { // Pseudo position
			position: absolute;
			top: 0px;
			right: 0;
		}
		&__header {
			width: 470px;
			float: right;
			font-size: 22px;
			margin-top: 55px;
			color: #000;
			line-height: 23px;
			h1 {
				font-size: 60px;
				font-weight: 700;
				line-height: 70px;
				margin-bottom: 0;
			}
		}
		&__address {
			display: block;
			font-size: 16px;
			font-weight: 700;
			line-height: 1.6;
			margin-bottom: 4px;
		}
		&__logo {
			width: 243px;
			height: 129px;
			background-position: 0 0;
			background-repeat: no-repeat;
			float: left;
			margin-top: 55px;
		}
		&__call {
			text-align: left;
			font-size: 17px;
			color: #fff;
			padding-left: 30px;
			padding-top: 25px;
			padding-bottom: 30px;
			line-height: 18px;
			background-color: #fcb315;
			width: 100%;
			h5 {
				text-transform: uppercase;
				font-weight: 700;
				letter-spacing: 2px;
				margin-bottom: 9px;
				font-size: 44px;
				line-height: 54px;
				color: #fff;
			}
		}
		&__phone {
			font-size: 38px;
			font-weight: 700;
			line-height: 50px;
			margin-top: 10px;
			& a {
				color: inherit;
			}
			i {
				font-weight: 400;
				font-style: normal;
			}
		}
		&__action {
			display: block !important;
			width: 100%;
			height: 50px;
			text-align: center;
			letter-spacing: 1px;
			font-size: 16px;
			font-weight: 700;
			padding-left: 0 !important;
			padding-right: 0 !important;
			line-height: 33px !important;
			margin-top: 24px;
			max-width: 300px;
	    margin: 0 auto;
	    margin-top: 10px;
		}
		//media stack
		@include rmax(468) {
			//
		}
		@include lg {
			&:after {
				width: calc(1vw - -11px);
			}
			&__header {
				width: 400px;
				height: auto;
			}
			&__logo {
				width: 190px;
				height: 100px;
				background-size: 190px;
			}
			&__call {
				h5 {
					letter-spacing: 1px;
					font-size: 30px;
					line-height: 30px;
				}
				span {
					font-size: 18px;
				}
			}
			&__phone {
				font-size: 31px;
				line-height: 50px;
				margin-top: 0;
			}
		}
		@include md {
			background-color: transparent;
			&:after {
				content: none;
			}
			&__header {
				width: 60%;
				padding-right: 10px;
				padding-left: 10px;
			}
			&__logo {
				width: 243px;
				height: 129px;
			}
			&__call {
				text-align: center;
			}
			&__left-col {
				background-color: #eaeaea;
				padding-bottom: 32px;
				margin-bottom: 36px;
			}
		}
		@include sm {
			&__logo {
				width: 130px;
				height: 70px;
				margin-top: 10px;
				margin-left: 20px;
				float: none;
				background-size: 130px;
			}
			&__header {
				padding-right: 15px;
				line-height: 20px;
				padding-left: 17px;
				font-size: 18px;
				float: none;
				margin-top: 10px;
				width: 100%;
				h1 {
					font-size: 50px;
				}
			}
			&__call {
				padding-left: 0;
				text-align: left;
			}
			&__action {
				margin-left: 0;
			}
		}
	}

	.header-content--gm { //модификатор для блока на странице GM (по необходимости перекидывать стили в основной блок)
		margin-top: 65px;
		&:after {
			background-color: #19539B;
		}
		.header-content {
			&__logo {
				background-image: url(../img/gm__logo.png);
			}
			&__call {
				background-color: #19539B;
			}
			&__action {
				background-color: #5484c0;
			}
			@include lg {

			}
			@include md {
				&__right-col {
					background-color: #19539b;
				}
			}
		}
	}
	.header-content--renault {
		margin-top: 29px; //!
		&:after {
			background-color: #fcb315; //!
		}
		.header-content {
			&__logo {
				background-image: url(../img/renault__logo.png); //!
			}
			&__call {
				background-color: #fcb315; //!
			}
			&__action {
				background-color: #cf9311; //!
			}
			@include lg {
			}
			@include md {
				&__right-col {
					background-color: #fcb315;
				}
			}
		}
	}
	.header-content--korea {
		margin-bottom: 10px;
		margin-top: 65px; //!
		&:after {
			background-color: #AD1117; //!
		}
		.header-content {
			&__logo {
				background-image: url(../img/korea__logo.png); //!
			}
			&__call {
				background-color: #AD1117; //!
			}
			&__action {
				background-color: #ed7373; //!
			}
			@include lg {
			}
			@include md {
				&__right-col {
					background-color: #AD1117;
				}
			}
		}
	}
	.header-content--citroen {
		margin-top: 65px; //!
		&:after {
			background-color: #19539B; //!
		}
		.header-content {
			&__logo {
				background-image: url(../img/peg__logo.png); //!
			}
			&__call {
				background-color: #19539B; //!
			}
			&__action {
				background-color: #da251c; //!
				&:hover {
					background-color: #ff5454;
				}
			}
			@include lg {
			}
			@include md {
				&__right-col {
					background-color: #19539B;
				}
			}
		}
	}


// ---- models ----
	.models {
		padding-top: 32px;
		padding-bottom: 62px;
		&__header {
			h2 {
				text-align: center;
				margin-bottom: 40px;
				font-size: 36px;
				text-transform: uppercase;
				font-weight: 400;
			}
		}
		&__nav {
			margin-top: -38px;
			margin: -38px 0 35px 0;
			text-align: center;
			li {
				display: inline-block;
				list-style: none;
				margin-right: 25px;
				margin-top: 30px;
				cursor: pointer;
				transition: all .2s;
			}
			li:hover {
				box-shadow: 0px 4px 7px -2px rgba(0,0,0,0.20);
    		transform: translateY(1px);
			}
		}
		&__item {
			margin-bottom: 57px;
		}
		&__footer {
			text-align: center;
			h5, h6 {
				font-weight: 400;
				margin-bottom: 0;
				line-height: 1.5;
			}
			h5 {
				font-size: 30px;
			}
			h6 {
				font-size: 20px;
				margin-bottom: 10px;
			}
			a {
				padding: 10px 43px;
			}
		}

		//media stack
		@include md {
			font-size: 30px;
		}
		@include rmax(468) {
			//
		}
		@include md {
			//
		}

	}

// ---- model-list ----
	.model-list {
		&__for {
			padding-left: 0;
		}
		&__header {
			margin-bottom: 18px;
			img {
				width: 100%;
				max-width: 120px;
			}
		}
		&__item {
			list-style: none;
			text-align: center;
			font-size: 22px;
			margin-bottom: 20px;
			cursor: pointer;
			img {
				width: 100%;
				max-width: 165px;
			}
		}

		//media stack
		@include rmax(468) {
			//
		}
		@include md {
			//
		}
		@include lg {
			//
		}
	}

// ---- assort ----
	.assort {
		background-color: #2d3032;
		color: white;
		padding-top: 49px;
		&__header {
			h2 {
				text-align: center;
				font-weight: 400;
				font-size: 36px;
				text-transform: uppercase;
				color: #fff;
			}
		}
		&__list {
			margin-top: 40px;
			ul {
				padding: 0;
				margin-bottom: 0;
			}
		}
		&__item {
			list-style: none;
			a {
				color: white;
				font-weight: 400;
				font-size: 30px;
			}
		}
		&__link {
			display: block;
			width: 100%;
			height: 84px;
			position: relative;
			padding-top: 22px;
			padding-left: 100px;
			line-height: 25px;
			margin-bottom: 60px;
			&:hover {
				color: #fcb315;
			}
			&:hover:before {
				background-color: #fcb315;
			}
			&:before {
				display: block;
				content: '';
				width: 84px;
				height: 84px;
				position: absolute;
				left: 0;
				top: 0;
				background-color: #fff;
				border-radius: 42px;
				background-image: url(../img/sprite_renault-icon.png);
				background-position: 0 0;
				background-repeat: no-repeat;
			}
			&--oil:before {
				background-position: 6px 26px;
			}
			&--filter:before {
				background-position: 2px -715px;
			}
			&--colodki:before {
				background-position: 2px -622px;
			}
			&--svechi:before {
				background-position: 6px -510px;
			}
			&--remni:before {
				background-position: 3px -90px;
			}
			&--lamps:before {
				background-position: 9px -305px;
			}
			&--podveska:before {
				background-position: 1px -200px;
			}
			&--battery:before {
				background-position: 1px -828px;
			}
		}
		//media stack
		@include md {
			&__header {
				h2 {
					font-size: 30px;
				}
			}
		}
		@include sm {
			&__link {
				width: 200px;
    		margin: 0 auto 35px;
			}
		}
		@include rmax(468) {
			padding-bottom: 25px;
			&__link {
				padding-left: 96px;
				font-size: 26px;
			}
			&__link:before {
				width: 70px;
				height: 70px;
			}
		}
		@include md {
			//
		}
		@include lg {
			//
		}
	}

// ---- advantages-minor ----
	.advantages-minor {
		width: 100%;
		background-color: #eaeaea;
		height: auto;
		margin-bottom: 0;
		padding-top: 50px;
		padding-bottom: 50px;
		&__header {
			h2 {
				font-size: 36px;
				font-weight: 400;
				color: black;
				text-align: center;
				text-transform: uppercase;
			}
		}
		&__list {
			margin-top: 18px;
			ul {
				padding: 0;
				margin: 0;
			}
			li {
		    font-size: 28px;
		    padding-left: 70px;
		    line-height: 30px;
		    position: relative;
		    padding-top: 30px;
		    padding-bottom: 10px;
		    list-style: none;
		    &:before {
		    	content: '';
			    display: block;
			    position: absolute;
			    width: 52px;
			    height: 52px;
			    background-image: url(../img/sprite_icon.png);
			    background-position: 0 -348px;
			    background-repeat: no-repeat;
			    left: 0;
			    top: 21px;
		    }
			}
		}
		//media stack
		@include rmax(468) {
			//
		}
		@include md {
			&__header {
				h2 {
					font-size: 30px;
				}
			}
		}
		@include lg {
			//
		}
	}

// ---- delivery-promo ----
	.delivery-promo {
		padding-top: 50px;
		&__header {
			text-align: center;
			h3, h4 {
				font-size: 36px;
				font-weight: 400;
				text-transform: uppercase;
			}
			h3 {
				margin-bottom: 0;
			}
			h4 {
				background-color: #2d3032;
				color: white;
			}
		}
		&__stage {
			margin-top: 65px;
		}
		&__footer {
			span {
				font-size: 30px;
				width: 750px;
				margin: 20px auto 74px;
				text-align: center;
				display: block;
				font-weight: 700;
				text-transform: uppercase;
				background-image: url(/img/sprite_icon.png);
				background-position: 0 -407px;
				background-repeat: no-repeat;
			}
			i {
					font-size: 50px;
					font-style: normal;
			}
		}
		//media stack
		@include rmax(468) {
			//
		}
		@include md {
			//
		}
		@include lg {
			//
		}
	}

// ---- promo-stage-list ----
	.promo-stage-list {
		position: relative;
		&:after {
			display: block;
			content: "";
			width: 100%;
			height: 4px;
			background-color: #45a047;
			transform: scaleX(.97);
		}
		&:after { // Pseudo position
			position: absolute;
			top: 31px;
			left: 0px;
			z-index: -1;
		}
		&__item {
			span {
				display: block;
				width: 66px;
		    height: 66px;
		    background-color: #45a047;
		    border-radius: 33px;
		    font-size: 36px;
		    text-align: center;
		    font-weight: 700;
		    color: #fff;
		    line-height: 66px;
		    margin: 0 auto 10px;
			}
			p {
				width: 100%;
		    font-size: 26px;
		    color: #2d3032;
		    text-align: center;
		    line-height: 26px;
		    letter-spacing: -2px;
		    // margin-top: 40px;
			}
		}
		//media stack
		@include rmax(468) {
			//
		}
		@include md {
			//
		}
		@include lg {
			//
		}
	}

// ---- green-call-block ----
	.green-call-block {
		width: 100%;
		background-color: #45a047;
		text-align: center;font-weight: 700;
		padding-top: 40px;
		padding-bottom: 40px;
		color: black;
		&__header {
			line-height: 1.4;
			h5, h6 {
				color: white;
				margin-bottom: 0;
			}
			h5 {
				font-size: 50px;
    		text-transform: uppercase;
			}
			h6 {
				font-size: 30px;
				font-weight: 700;
    		color: #fff;
			}
		}
		&__content {
			color: white;
			span{
				display: block;
				font-size: 50px;
			}
			i {
				font-style: normal;
				font-weight: 400;
			}
			a {
				width: 380px;
				background-color: #3a8c3b;
				margin: 20px auto 0;
				font-size: 26px;
				text-transform: lowercase;
				font-weight: 400;
			}
		}
		//media stack
		@include rmax(468) {
			//
		}
		@include md {
			//
		}
		@include lg {
			//
		}
	}

// ---- slider-shop ----
	.slider-shop {
		background-color: #545759;
		padding: 10px 0;
		&__item {
			img {
				width: 100%;
				padding: 0 5px;
			}
			a {
				display: block;
				width: 100%;
				height: 100%;
				&:after {
					content: "";
			    display: block;
			    background: url(../img/loupe.png) center center no-repeat;
			    width: 100%;
			    height: 100%;
			    position: absolute;
			    top: 0;
			    background-size: 80px;
			    transition: all 0.3s ease;
			    opacity: 0;
				}
				&:hover:after {
					opacity: 1;
				}
			}
		}
		.owl-nav {
			position: absolute;
	    top: 50%;
	    width: 100%;
	    margin-top: -21px;
	    button {
		    display: block;
	    	width: 48px;
		    height: 42px;
		    zoom: 1;
		    position: absolute;
		    top: 50%;
		    background-image: url(../img/slider-but.png) !important;
		    background-position: 0 0;
		    background-repeat: no-repeat;
		    margin: 5px;
		    padding: 3px 10px;
		    opacity: 0.999;
		    span {
		    	font-size: 0;
		    }
	    }
	    .owl-prev {
	    	left: 0;
	    }
	    .owl-next {
	    	right: 0;
	    	background-position: -48px 0 !important;
	    }
		}
		//media stack
		@include rmax(468) {
			//
		}
		@include md {
			//
		}
		@include lg {
			//
		}
	}